@model TiendaOnline.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class ="form-control" asp-items="ViewBag.RolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <!-- Campo oculto que contendrá el string con todos los datos -->
            <input type="hidden" id="Jsonusuario" name="Jsonusuario" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="concatData()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function concatData() {
            var nombre = document.getElementById("Nombre").value;
            var telefono = document.getElementById("Telefono").value;
            var nombreusuario = document.getElementById("NombreUsuario").value;
            var contrasenia = document.getElementById("Contrasenia").value;
            var correo = document.getElementById("Correo").value;
            var direccion = document.getElementById("Direccion").value;
            var estado = document.getElementById("Estado").value
            var codigopostal = document.getElementById("CodigoPostal").value
            var rolId = parseInt(document.getElementById("RolId").value);
            var balance = parseFloat(document.getElementById("Balance").value);

            // Convertimos los datos a un formato JSON
            var Jsonusuario = JSON.stringify({
                Nombre: nombre,
                Telefono: telefono,
                NombreUsuario: nombreusuario,
                Contrasenia: contrasenia,
                Correo: correo,
                Direccion: direccion,
                Estado: estado,
                CodigoPostal: codigopostal,
                RolId: rolId,
                Balance: balance
            });

            // Asignamos el string JSON al campo oculto
            document.getElementById("Jsonusuario").value = Jsonusuario;
        }
    </script>
}